<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Error</title>
</head>
<body>
    <h3>We have encounted an error while processing your registration request. Please try again later.</h3>
    <p>Error details: {{.errorString}} </p>
    <p>If you continue to experience problems, please contact us at hyson007@gmail.com</p>

</body>
</html>